.jobinfo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    margin: 5px;
}
.jobinfo:hover {
    transform: scale(1.05); 
    background-color: rgb(10, 133, 235);
  }
.company-name{
    text-shadow:1px 1px 10px rgb(0, 174, 255);
}